.logo {
    color: var(--primary-page-color);
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-family: 'Raleway';

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    @media screen and (min-width:320px) and (max-width:767px) {
        padding-top: 16px;

    }

    @media screen and (min-width:768px) and (max-width:1199px) {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    padding-top: 26px;
    margin-right: 87px;
    }
    
 @media screen and (min-width:1200px) {
    margin-left: 0px;
    margin-right: 93px;    
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    padding-top: 26px;

 }
    
}

.logo-footer {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 0;
    color: var(--primary-bg-color);
    @media screen and (min-width:1200px){
        text-align: start;
    }
}
