.filter {
    margin-bottom: 30px;

    &__item:not(:last-child) {
        margin-right: 8px;
        margin-bottom: 15px;
    }

@media screen and (max-width:767px) {   
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
}
justify-content: center;


    @media screen and (min-width:768px) {
        display: flex;
    }
//     margin-bottom: 56px;
//     &__item:not(:last-child) {
//     margin-right: 8px;
// }

}




.portfolio {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin:  -15px;
    }

    text-align: -webkit-center;
    

    &__item {
        @media screen and (max-width:767px) {
            max-width: 450px;
            &:not(:last-child) {
                margin-bottom: 30px;
            } }
        @media screen and (min-width:768px) {
            // max-width: 354px; 
            width: calc((100% - 4 * 15px) / 2);
            margin: 15px;

            }
        @media screen and (min-width:1200px) {
                max-width: 370px; }
            }
        }
    


    // display: flex;
    // flex-wrap: wrap;    
    
        // margin-right: 30px;
        // margin-bottom: 30px;
        // width: calc((100% - 89px) / 3);
        // border: 1px solid #EEEEEE;
// &__item:nth-child(3n) {
//     margin-right: 0;
// }
// &__item:nth-last-child(-n + 3) {
//     margin-bottom: 0;
// }


.portfolio__link{
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);    outline: transparent;    
} 
}

.portfolio__wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    transform: translateY(101%);
    background: rgba(33, 150, 243, 0.9);;
    max-width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio__link:hover &,
    .portfolio__link:focus &{
    transform: translateY(0%);   
}
} 

.text__overlay {
    box-sizing: border-box;
    margin: 0;
    padding: 63px 24px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
    @media screen and (min-width:320px) and (max-width:390px) {
        font-size: 16px;
        padding: 28px 29px;
    }
    @media screen and (min-width:390px) and (max-width:430px){
        font-size: 17px;
        padding: 69px 29px;
    }
    @media screen and (min-width:430px) and (max-width:450px){
        font-size: 18px;
        padding: 77px 29px;
    }

    @media screen and (min-width:450px){
        font-size: 18px;
        padding: 110px 24px;
    }
    @media screen and (min-width:768px){
        padding: 60px 24px;
    }
}


.portfolio__text {
    padding: 20px 24px;
}

.portfolio__discr {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    margin: 0;
    }
