.person-list {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    @media screen and (min-width:320px) and (max-width:767px){
        text-align: -webkit-center;
    }
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
   
         &__item:not(:last-child) {
            @media screen and (min-width:1200px) {
            margin-right: 30px;        
    }
        @media screen and (min-width:320px) and (max-width:767px){
            margin-bottom: 30px;
    }        
    }
        &__item {
            width: 270px;
            @media screen and (min-width:768px) and (max-width:1199px){
                width: calc((100% - 4 * 15px) / 2);
                margin: 15px;
            }
        }

    &__descr {
        font-size: 16px;
        line-height: 1.19;
        margin: 0;
        margin-bottom: 16px;
    }

    &__wrapper {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-bg-color);
    padding: 30px;
    text-align: center;
    }
}

.social {
    display: flex;   
    padding: 0;
    justify-content: center;
    // margin-top: 16px;    
}

.social__item:not(:last-child) {
    @media screen and (max-width:479px) {
        margin-right: 20px;
        border-right: rgba(33, 33, 33, 0.2);
        
    }
    margin-right: 10px;
}

.social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--primary-text-color);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus { 
        background-color: var(--accent-color);    
        
    }
}

.social__icon {
    fill: #AFB1B8;        

    .social__link:hover &, 
    .social__link:focus & {
        color: var(--primary-bg-color);
        fill: currentColor;
    }
}
