
.section-off-padding {
    padding: 0 0 94px 0;
}

.section--team {
    background-color: var(--portfolio-button-color);
}

.section {    
    padding-top: 94px;
    padding-bottom: 94px;
}

.section--first {
    display: flex;    
    background: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    text-align: center;    
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}
