.differences {       
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;    
    text-align: center;
    @media screen and (min-width:768px) and (max-width:1199px){
        display: flex; 
        flex-wrap: wrap;
        // margin: -15px;
}
    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.differences__item {
@media screen and (min-width:1200px) {    
    width: 270px;
    height: 248px;
    &:not(:last-child) {
    margin-right: 30px;    
} 
}
}

.differences__item {
    @media screen and (min-width:320px) and (max-width:767px){
        margin-bottom: 30px;
        height: 226px;
    }
    @media screen and (min-width:768px) and (max-width:1199px){        
        width: calc((100% - 2 * 15px) / 2);
        // margin: 15px;
    }
}

.differences__text {
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (min-width:768px){
        margin-bottom: 80px;
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
}

// .differences__icon {
//     width: 270px;
//     margin-bottom: 30px;
//     }
    
.test {
    width: 100%;
    height: 100%;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    @media screen and (max-width:767px){
        max-width: 450px;
        max-height: 120px;
    }
    @media screen and (min-width:768px) {
        max-width: 354px;
        max-height: 120px;
    }
}
