.first-title {
    @media screen and (min-width:480px) and (max-width:1199px){
        font-size: 26px;
        line-height: 1.61;
    }
    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;

    }
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-bg-color);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.second-title {
    @media screen and (min-width:480px) and (max-width:1199px){
        margin-bottom: 30px;
    }
    margin: 0;
    margin-bottom: 50px;
    color: var(--primary-page-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
}

.three-title {    
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-page-color);    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.three-title--work {
    color: var(--primary-bg-color);
}

.three-title--person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.portfolio-second-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 0 0 4px 0;
    }
    
    .three-title--footer {
        color: var(--primary-bg-color);
    }
    