.button {
    width: 216px;
    height: 50px;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;    
}

.portfolio-button {
    display: inline-block;
    min-width: 73px;
    max-width: 130px;
    width: auto;
    height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    font-size: 16px;
    background-color: var(--portfolio-button-color);
    color: var(--primary-page-color);
    font-weight: 500;
    line-height: 1.6; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-bg-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }


}


.button-list {
    list-style: none;
}