.section {    
    @media screen and (min-width:300px) and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
        padding-top: 94px;
        padding-bottom: 94px;
    
    
}

.section-off-padding {
    @media screen and (min-width:100px) and (max-width:1199px){
        display: none;
    }
    padding: 0 0 94px 0;
}

.section--team {
    background-color: var(--portfolio-button-color);
}


.section--first {
    display: flex;    
    background: rgba(47, 48, 58, 0.4);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    text-align: center;    
    padding-top: 118px;
    padding-bottom: 118px;
    // padding-top: 200px;
    // padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/hero/header480.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    // background-size: 480px 400px;
    // background-size: cover;


    @media screen and (max-width:767px) {        
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url("../images/hero/header480.jpg");  
}  


        @media screen and (min-width:768px) {
        // padding-top: 118px;
        // padding-bottom: 118px;
        background-size: cover;
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url("../images/hero/header960.jpg");
}


    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url("../images/hero/header1200.jpg");
    }


    @media  screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        
        @media screen and (max-width: 767px) {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url("../images/hero/header480@2x.jpg");
        }

    @media screen and (min-width: 768px) {
                background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url("../images/hero/header960@2x.jpg");
    }

    @media screen and (min-width: 1200px) {
                background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url("../images/hero/header1200@2x.jpg");
    }

    }
}